html,
body {
  height: 100%;
  margin: auto;
}

#root {
  height: auto !important;
  min-height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  position: relative !important;
}

main {
  flex: 1;
  position: relative;
  padding: 40px;
  padding-bottom: 16px;
}

.navigacija {
  display: inline;
  text-decoration: none !important;
  list-style: none;
  font-size: 2em;
  justify-content: space-between;
  padding: 1rem;
  color: rgb(238, 211, 211);
  cursor: pointer;
}

.navigacija:hover {
  color: #4e1313;
  text-decoration: none;
}

#home {
  font-size: large;
  font-family: "Courier New", Courier, monospace;
  text-align: justify;
}

#slika {
  width: 100px;
}

.work {
  text-align: center;
  transition: transform 0.2s;
  font-family: "Courier New", Courier, monospace;
  width: 300px;
  border: 1px solid #ddd;
  margin-left: 16px;
  padding: 8px;
}

.work:hover {
  transform: scale(1.05);
}

.work-list {
  display: flex;
  flex-direction: row;
}

div.footer-container {
  background-color: rgb(238, 211, 211);
}

div.btn-container {
  text-align: center;
}

div.copyright {
  color: black;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

a.btn-floating.btn-lg.btn-fb,
a.btn-floating.btn-lg.btn-tw,
a.btn-floating.btn-lg.btn-ins,
a.btn-floating.btn-lg.btn-yt {
  color: #241a1a;
}

a.btn-floating.btn-lg.btn-fb:hover {
  color: #4267b2;
}

a.btn-floating.btn-lg.btn-tw:hover {
  color: #1da1f2;
}

a.btn-floating.btn-lg.btn-ins:hover {
  color: #eb0184;
}

a.btn-floating.btn-lg.btn-yt:hover {
  color: #ff0000;
}

.contact {
  max-width: 500px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  margin: auto;
}

.navbar.navbar-dark.bg-dark {
  height: 90px;
}



.loginform form-group{
  margin: auto;
  max-width: 500px;
}

.h5{
  font-family: "Courier New", Courier, monospace;
  text-align: center;

}

.form-control{
  font-family: "Courier New", Courier, monospace;

}

.lejbel{
  font-family: "Courier New", Courier, monospace;
  
  

}

