* {
  margin: 0;
  padding: 0;
}
#nav {
  position: sticky;
  top: 0;
  margin-right: 20px;
  margin-top: 20px;
}

h3 {
  float: left;
  color: rgb(238, 211, 211);
  font-size: 2em;
  margin-right: 20px;
  margin-top: 20px;
}

.navigacija {
  display: inline;
  text-decoration: none;
  list-style: none;
  font-size: 2em;
  justify-content: space-between;
  padding: 1rem;
  color: rgb(238, 211, 211);
}

#home{
  font-size: large;
  padding: 60px;
  font-family:'Courier New', Courier, monospace;
  text-align: justify;
}


#footer{
    position: fixed;
    bottom: 0;
}

